[user]
	email = ayush.shenoy@protonmail.com
    name = Ayush Shenoy
	signingkey = ayush.shenoy@protonmail.com
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /mnt/physics-notebooks
