[Unit]
Description=Configure my Wacom tablet
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=wacomconfigure.sh

[Install]
WantedBy=graphical-session.target
